name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: xanderhendriks/action-build-stm32cubeide@v16.0
        with:
          project-path: '.'
          project-target: 'stm32_dyno_firmware_v2/Debug'
