name: build

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Debug
        uses: xanderhendriks/action-build-stm32cubeide@v16.0
        with:
          project-path: '.'
          project-target: 'stm32_dyno_firmware_v2/Debug'

      - name: Build Release
        uses: xanderhendriks/action-build-stm32cubeide@v16.0
        with:
          project-path: '.'
          project-target: 'stm32_dyno_firmware_v2/Release'
